.wrapper {
  width: 2160px;
  height: 3840px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#545454, #ffffff);
  position: relative;
}

/* Контейнер блоков */
.blocksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 100%;
  max-width: 2160px;
}

/* Верхний блок с названием */
.block1 {
  width: 1657px;
  height: 750px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0 0 50px 50px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 650px;
}

.block1Content {
  font-family: 'Futura PT', sans-serif;
  font-weight: 900;
  font-size: 120px;
  line-height: 90px;
  color: #33231C;
  text-align: center;
  padding-bottom: 100px;
}

/* Галерея */
.gallery {
  width: 100%;
  height: 1900px;
  background-color: rgba(8, 14, 14, 0.336);
}

.gallery_view {
  width: 100%;
  height: 1650px;
  background-color: rgba(39, 230, 230, 0.336);
}

/* Основная кнопка (открыть описание / открыть 3D модель) */
.gallery_button {
  width: 603px;
  height: 105px;
  border-radius: 100px;
  background-color: #33231C;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 90px;
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px auto 0;
}

/* Кнопка назад */
.backButton {
  width: 385px;
  height: 105px;
  border-radius: 100px;
  background-color: #33231C;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 90px;
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 60px;
  left: 887px;
}

/* Оверлей */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

/* Панель описания */
.panel {
  position: relative;
  width: 1750px;
  height: 1220px;
  background: #ffffffc0;
  border-radius: 40px;
  padding: 100px;
  font-size: 45px;
  line-height: 60px;
  font-family: 'Mulish', sans-serif;
  color: #33231C;
  overflow-y: auto;
}

/* Tittle */
h3 {
  margin-bottom: 40px;
}

/* Крестик */
.closeX {
  position: absolute;
  top: 60px;
  right: 60px;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  font-size: 60px;  /* увеличенный для жирности */
  font-weight: 900;
  color: #33231C;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
